{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <h2 class="text-center text-success">
                            Prescriber
                        </h2>
                        <form method="POST">
                            <h3 class="text-primary">Demographics</h3>
                            <hr />
                            {{ form.hidden_tag() }}
                            {{ form.fname.label }} {{ form.fname(class_="form-control") }}<br />
                            {{ form.lname.label }} {{ form.lname(class_="form-control") }}<br />
                            {{ form.phone.label }} {{ form.phone(class_="form-control") }}<br />
                            {{ form.fax.label }} {{ form.fax(class_="form-control") }}<br />
                            {{ form.alt_phone.label }} {{ form.alt_phone(class_="form-control") }}<br />
                            {{ form.alt_fax.label }} {{ form.alt_fax(class_="form-control") }}<br />
                            {{ form.npi.label }} {{ form.npi(class_="form-control") }}<br />
                            {{ form.dea.label }} {{ form.dea(class_="form-control") }}<br />
                            <h4 class="text-primary">Address</h4>
                            {{ form.address.label }} {{ form.address(class_="form-control") }}<br />
                            {{ form.city.label }} {{ form.city(class_="form-control") }}<br />
                            {{ form.state.label }} {{ form.state(class_="form-control") }}<br />
                            {{ form.zip.label }} {{ form.zip(class_="form-control") }}<br />
                            {{ form.submit(class_="btn btn-success") }}
                        </form>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}